{
    "printWidth": 140,
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "tabWidth": 4,
    "singleQuote": true,
    "endOfLine": "lf",
    "trailingComma": "es5",
    "semi": true,
    "jsxBracketSameLine": true,
    "arrowParens": "avoid",
    "useTabs": false
}
